<mat-card>
    <div class="example-container">
        <mat-form-field class="example-full-width">
            <input matInput matTooltip='user login' placeholder="Login">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput matTooltip='User name' placeholder="Name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput matTooltip='User surname' placeholder="Surname">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput="email" matInput matTooltip="Email Address" placeholder="Email">
        </mat-form-field>
    </div>
</mat-card>