<div>
    <mat-form-field>
        <mat-select placeholder="Subject">
            
            <mat-option *ngFor="let subject of subjects" #test (change)="onSubjectSelected()" [(value)]="subjectSelected">
                <mat-icon>visibility</mat-icon> {{subject.name}}
            </mat-option>
            <!-- <mat-select-trigger>
                <mat-icon>visibility</mat-icon>&nbsp;{{test|json}}
            </mat-select-trigger> -->
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-select placeholder="Year" (change)="onYearSelected()" >
            <mat-option *ngFor="let year of years" [(value)]="yearSelected">
                {{year.number}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
</div>
<div fxFlex class="month container">
    <div class="month-header"></div>

    <div fxLayout="row wrap" fxFlexAlign="center"  fxLayoutGap="10px" fxLayout.xs="column" class="week">
        <app-day *ngFor="let day of days" [day]="day"></app-day>
    </div>

    <div flex class="day-number" >1 </div>
</div>