.day {
additive-symbols: -moz-repeating-linear-gradient();

 height:30px;
  background-color: rgb(209, 228, 175);
 
  border-radius: 8px;
    min-height: 80px;
    /* box-shadow: 10px 10px rgb(170, 217, 223); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}

.day-body{
    background-color: rgb(209, 228, 175);
    min-height: 30px;
    text-align: center;
}

.day-header{
   
    font-size: 20px;
    min-height: 20px;
    text-align: right;
}